.contenido {
  margin-bottom: 40px;
  justify-content: space-evenly;
}
.caja {
  max-width: 430px;
}
.caja__contenido {
  padding: 20px;
  background-color: color-claro;
}
.caja__contenido span {
  text-transform: uppercase;
  color: color-secundario;
  font-family: Fuente2;
  font-weight: 600;
}
.caja__contenido h3 {
  text-transform: uppercase;
  font-weight: 600;
}
