.contenido
  width: 90%
  margin-bottom: 40px
  justify-content: space-evenly
  contenedor()

.caja 
  max-width 31%
  margin-bottom: 20px
  sombraCaja()
  &__imagen img
    width: 100%
  &__contenido
    padding: 20px
    background-color: color-claro
    span 
      color: color-secundario
      titulos(Fuente2)
    h3
      text-transform: uppercase
      font-weight: 600