

.encabezado--con-filtros
  contenedor()
  h2 
    margin-top: 0
    font-size: 40px
    titulos(Fuente2)
  .filtros
    width: 220px;
    height: 65px;
    padding: 20px
    margin-left: auto
    sombraCaja()
    span
      titulos(Fuente2)
    a
      font-size: 25px
      margin-left: 20px
      color: color-primario