Fuente1 = 'Lato', sans-serif
Fuente2 = 'Oswald', sans-serif
color-primario = #333333
color-secundario = #8841DA 
color-claro = #FFFFFF

contenedor()
  display: flex
  width: 96%
  margin: 0 auto
  padding: 30px 0
  flex-wrap: wrap

sombraCaja()
  box-shadow: 0 20px 33px 0 rgba(0, 0, 0, 0.20)
  background-color: color-claro

opacidad(color, cantidad) 
  alpha(color, cantidad)

for header in 3 2 1 
  h{header}
    font-size: 35px - (5*header)
    margin: 0

titulos(fuente)
  if fuente == Fuente1
    font-family: Fuente1
  else
    font-family: Fuente2
    text-transform: uppercase
    font-weight: 600

*
  box-sizing: border-box

body 
  margin: 0
  titulos(Fuente1)
  color: color-primario